<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=" 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<import resource="classpath:org/migus/web/data/ibatis/applicationContext.xml" />
	<bean id="contentServerBean" class="org.migus.web.content.rest.ContentServerImpl">
		<constructor-arg>
			<ref bean="contentDao" />
		</constructor-arg>
	</bean>
	<bean id="contentService" class="org.migus.web.content.soap.ContentServiceImpl">
		<constructor-arg>
			<ref bean="contentDao" />
		</constructor-arg>
	</bean>
	<bean id="unwrappedContentService" class="org.migus.web.content.soap.UnwrappedContentServiceImpl">
		<constructor-arg>
			<ref bean="contentDao" />
		</constructor-arg>
	</bean>
</beans>