<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:cxf="http://cxf.apache.org/core"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-http.xml" />
	<context:component-scan base-package="org.migus.web.content.rest"/>
	<bean id="schemaHandler" class="org.apache.cxf.jaxrs.utils.schemas.SchemaHandler">
		<property name="schemas">
			<util:list>
				<value>classpath:/schemas/content.xsd</value>
			</util:list>
		</property>
	</bean>
	<bean id="jaxbProvider" class="org.apache.cxf.jaxrs.provider.JAXBElementProvider">
		<property name="schemaHandler" ref="schemaHandler"/>
	</bean>
	<bean id="jsonProvider" class="org.apache.cxf.jaxrs.provider.JSONProvider">
		<property name="namespaceMap">
			<util:map map-class="java.util.Hashtable">
				<entry key="http://migus.org/schemas/content" value=""/>
			</util:map>
		</property>
		<property name="schemaHandler" ref="schemaHandler"/>
	</bean>
	<jaxrs:server id="contentServer" address="/content">
		<jaxrs:features>
			<cxf:logging/>
		</jaxrs:features>
		<jaxrs:providers>
			<ref bean="jaxbProvider" />
			<ref bean="jsonProvider" />
		</jaxrs:providers>
		<jaxrs:serviceBeans>
			<ref bean="contentServerImpl" />
		</jaxrs:serviceBeans>
	</jaxrs:server>
</beans>
